@import '../../../../src/styles.scss';

.invoice-detail-container {
    padding: 24px;
    background-color: var(--color-background); 

    @media (min-width: 768px) {
      padding: 40px;
    }

    @media (min-width: 1440px) {
      padding: 48px 0;
      max-width: 730px;
      margin: 0 auto;
    }
  }

  .invoice-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-card-background);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    margin-bottom: 16px;

    .back-button {
      background: none;
      border: none;
      padding: 0;
      color: var(--color-text-tertiary); 
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      @include font-style('heading-h3-small');
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-text-primary);
      }

      &::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10"><path d="M6.342.886L2.114 5.114l4.228 4.228z" fill="%237C5DFA" fill-rule="evenodd"/></svg>');
        margin-right: 23px;
        display: inline-block;
        vertical-align: middle;
      }

   
    }

    .status-bar {
      display: flex;
      align-items: center;

      span {
        @include font-style('body-1');
        color: var(--color-text-secondary); 
        margin-right: 16px;
      }

      .status-badge {
        padding: 8px 18px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        @include font-style('heading-h3-small');
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        width: 104px;
        height: 40px;
        justify-content: center;

        &--paid {
          background-color: rgba(51, 214, 159, 0.06);
          color: #33D69F;
        }

        &--pending {
          background-color: rgba(255, 143, 0, 0.06);
          color: #FF8F00;
        }

        &--draft {
          background-color: rgba(55, 59, 83, 0.06);
          color: #373B53;
        }
      }
    }

    .actions-desktop {
      display: none; 

      @media (min-width: 768px) {
        display: flex; 
        gap: 8px;
      }

      button {
        border: none;
        border-radius: 24px;
        padding: 16px 24px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }

      .edit-button {
        background-color: #F9FAFE;
        color: #7E88C3;

        &:hover {
          background-color: #DFE3FA;
        }
      }

      .delete-button {
        background-color: #EC5757;
        color: white;

        &:hover {
          background-color: #FF9797;
        }
      }

      .mark-as-paid-button {
        background-color: #7C5DFA;
        color: white;

        &:hover {
          background-color: #9277FF;
        }
      }
    }

    @media (min-width: 768px) {
      justify-content: space-between;
    }
  }

  .invoice-details-card {
    background-color: var(--color-card-background);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 30px 0;

    .invoice-id-and-description {
      grid-column: 1 / span 2;

      .invoice-id {
        @include font-style('heading-h3');
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.8px;
        color: var(--color-text-primary); 
        margin-bottom: 4px;
      }

      .invoice-description {
        @include font-style('body-1');
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: var(--color-text-secondary); 
      }
    }

    .sender-address {
      grid-column: 2 / 3;
      grid-row: 1;
      text-align: right;

      p {
        @include font-style('body-1');
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: var(--color-text-secondary); 
      }
    }

    .invoice-dates-and-client-address {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      grid-column: 1 / span 2;

      > div {
        flex: 1;

        .label {
          @include font-style('body-1');
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: var(--color-text-secondary);
          margin-bottom: 8px;
        }

        .value {
          @include font-style('heading-h3');
          font-weight: bold;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.3125px;
          color: var(--color-text-primary);
        }

        p {
          @include font-style('body-1');
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: var(--color-text-secondary); 
        }
      }
    }

    .client-email {
      grid-column: 1 / span 2;

      .label {
        @include font-style('body-1');
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: var(--color-text-secondary); 
        margin-bottom: 8px;
      }

      .value {
        @include font-style('heading-h3');
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.3125px;
        color: var(--color-text-primary); 
      }
    }

    .item-list {
      grid-column: 1 / span 2;
      background-color: var(--color-button-secondary-bg); 
      border-radius: 8px 8px 0 0;
      padding: 24px;

      table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          @include font-style('heading-h3-small');
          padding: 8px 0;
          text-align: left;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: var(--color-text-secondary); 
        }

        th {
          font-weight: bold;
        }

        td {
          font-weight: bold;
          color: var(--color-text-primary); 
        }

        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          text-align: right;
        }
      }
    }

    .grand-total {
      grid-column: 1 / span 2;
      background-color: var(--color-header-bg); 
      color: var(--color-text-primary); 
      padding: 24px;
      border-radius: 0 0 8px 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p:first-child {
        @include font-style('body-1');
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
      }

      p:last-child {
        @include font-style('heading-h2');
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.416667px;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto 1fr auto;
      gap: 30px;
      padding: 32px;

      .invoice-id-and-description {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      .sender-address {
        grid-column: 3 / 4;
        grid-row: 1;
      }

      .invoice-dates-and-client-address {
        grid-column: 1 / 2;
        grid-row: 2;
        flex-direction: column;
        gap: 12px;
      }

      .client-email {
        grid-column: 2 / 3;
        grid-row: 2;
      }

      .item-list {
        grid-column: 1 / span 3;
        grid-row: 3;
        padding: 32px;

        table {
          td:nth-child(2),
          td:nth-child(3),
          td:nth-child(4) {
            text-align: right;
          }
        }
      }

      .grand-total {
        grid-column: 1 / span 3;
        grid-row: 4;
        padding: 32px;
      }
    }
  }

  .invoice-detail-actions {
  
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    display: flex; 
    justify-content: center;
    gap: 8px;
    margin-top: 56px;

    &.actions-mobile {
      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (min-width: 768px) {
      justify-content: flex-end;
    }

    button {
      border: none;
      border-radius: 24px;
      padding: 16px 24px;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.25px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    .edit-button {
      background-color: #F9FAFE;
      color: #7E88C3;

      &:hover {
        background-color: #DFE3FA;
      }
    }

    .delete-button {
      background-color: #EC5757;
      color: white;

      &:hover {
        background-color: #FF9797;
      }
    }

    .mark-as-paid-button {
      background-color: #7C5DFA;
      color: white;

      &:hover {
        background-color: #9277FF;
      }
    }
  }
